h1{
    color: blue;
    text-align: center;
}

img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    color: blue;
}

p{
    text-align: justify;
    margin: 0 100px 0 80px;
}

p{
    font-size: 20px;
    font-style: italic;
}


.contenedor {
    padding: 20px;
    text-align: center;
}


.boton-fijo {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    text-align: center;
    padding: 15px 0;
}


.btn-vermas {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn-vermas:hover {
    background-color: #005ad4;
    transform: scale(1.05);
}
